<web-app>
    <servlet>
        <servlet-name>ServletDemo</servlet-name>
        <servlet-class>ServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericServletDemo</servlet-name>
        <servlet-class>GenericServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
        <init-param>
            <param-name>uname</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>admin123</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calc</servlet-name>
        <servlet-class>Calc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calc</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericServletDemo</servlet-name>
        <url-pattern>/GenericServletDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo</servlet-name>
        <url-pattern>/ServletDemo</url-pattern>
    </servlet-mapping>
</web-app>